alias zshrc='${EDITOR} ~/.zshrc'
alias reload="source ~/.zshrc"

alias zalias="$EDITOR ~/.aliases"
alias zpath="$EDITOR ~/.paths"
alias zexport="$EDITOR ~/.exports"

alias kver="uname -rs"
alias pls='sudo $(fc -ln -1)'

alias c="clear"
alias ..="cd .."
alias ...="cd ../.."
alias c-='cd - >/dev/null'

alias mv="mv -i"
alias cp="cp -i"
alias rm="rm -Iv"
alias grep="rg --smart-case --hidden --color=auto"
alias find="fd --hidden --exclude .git"
alias cat="bat --paging=always --style=plain --color=always --theme=TwoDark"

alias ls='ls --color=auto'
alias la='ls -lAFhSr --color=auto' # list all, show filetype, format sizing, reverse sort
alias ll='ls -lah'

alias vim=$EDITOR
alias vi=$EDITOR
alias v=$EDITOR
alias sv="sudo $EDITOR"

if command -v git &>/dev/null; then
    alias gs='git status -sb'
    alias ga="git add"
    alias gaa="git add -A"
    alias gc="git commit"
    alias gcm="git commit -m"
    alias gcam="git commit -am"
    alias gco="git checkout"
    alias gcob="git checkout -b"
    alias gbd="git branch -d"
    alias gbD="git branch -D"
    alias gbl="git branch -al"
    alias gd="git diff"
    alias gds="git diff --staged"
    alias gundo="git reset --soft HEAD~1"
    alias grh="git reset HEAD"
    alias grhh="git reset --hard HEAD"
    alias gf="git fetch --all --prune"
    alias gp="git push"
    alias gpu="git pull"
    alias gpuo="git pull origin"
    alias gst="git stash"
    alias gtag="git tag"
    alias gtags="git tag -l"
    alias gcp="git cherry-pick"
    alias grl="git reflog"

    alias gl="git log --oneline --graph --all"
    alias glg='git log --graph --pretty=format:"%C(yellow)%h%Creset -%C(auto)%d%Creset %s %C(blue)[%an]" --abbrev-commit'
    alias gllg='git log --oneline --graph --decorate --all'
fi

if command -v systemctl &>/dev/null; then
    alias sysen="sudo systemctl enable" # start at boot
    alias sysstart="sudo systemctl start"
    alias sysrestart="sudo systemctl restart"
    alias sysstop="sudo systemctl stop"
    alias sysdisable="sudo systemctl disable"

    if command -v fzf &>/dev/null; then
        alias services='systemctl list-unit-files --type=service --no-pager | tail -n +2 | fzf --with-nth=1 --preview="systemctl status {1}"'
    fi
fi

alias timesync="sudo timedatectl set-ntp true"

alias update="sudo pacman -Syu --noconfirm \
	&& yay -Sua --noconfirm\
	&& spicetify update\
	&& echo 'Done.'"

if command -v pacman &>/dev/null; then
  alias install="sudo pacman -S --needed"
  alias uninstall="sudo pacman -Rns"
  alias packages="pacman -Qet | less" # All Explicitly installed pacakges, non-dependencies
fi

search() {
    local output
    output=$(pacman -Si "$@" 2>/dev/null)
    if [[ -n "$output" ]]; then
        echo "$output"
    else
        yay -Si "$@"
    fi
}

cleanup() {
  local orphans
  orphans=$(pacman -Qdtq)

  if [[ -n "$orphans" ]]; then
    echo "Removing orphan packages:"
    echo "$orphans"
    sudo pacman -Rns $orphans
  else
    echo "No orphan packages to remove."
  fi

  yay -Scc --noconfirm
  yay -Yc --noconfirm
}


alias forcekill="killall -9"

alias sf="fastfetch"

alias hyprreload="hyprctl reload"
alias hyprlog="journalctl -xe | grep Hyprland"
alias hyprconfig="${EDITOR} $HOME/.config/hypr/hyprland.conf"
alias nightmode="hyprsunset --temperature 3000"
alias paperreload="pkill hyprpaper; (hyprpaper & disown)"

alias barreload='pkill waybar; (waybar & disown)'
alias fontreload='fc-cache -f'
alias fontlist='fc-list : family lang=en --format="%{family[0]}\n" | sort | uniq | less'

alias wlr="env | grep -i wl" # Wayland Variables
alias monitors="hyprctl monitors"
alias logout="hyprctl dispatch exit"
alias reboot="systemctl reboot"
alias shutdown="systemctl poweroff"

alias devices="lsusb && lspci | less"
alias disks="lsblk -o NAME,SIZE,TYPE,MOUNTPOINT,FSTYPE,LABEL"
alias usage="df -hT | grep '^/dev/'"
alias ports='ss -tulwn'
alias speedtest="speedtest-cli --simple --secure | column -t"
alias wifi="nmcli device wifi"

alias soundtest="speaker-test -c 8 -t wav"

alias fw="sudo ufw"
alias fws="sudo ufw status verbose"

alias gemini="gemini -s"

copyfile() {
  [[ -f "$1" ]] && wl-copy < "$1" || echo "Usage: copyfile <file>"
}

pastefile() {
  [[ -f "$1" ]] && wl-paste > "$1" || echo "Usage: pastefile <file>"
}

alias volup="pactl set-sink-volume @DEFAULT_SINK@ +5%"
alias voldown="pactl set-sink-volume @DEFAULT_SINK@ -5%"
alias mute="pactl set-sink-mute @DEFAULT_SINK@ toggle"
alias micmute="pactl set-source-mute @DEFAULT_SOURCE@ toggle"
alias audiolist="pactl list sinks short"

alias docrs="rustup doc"
alias docrs-proj="rustup doc --open --document-private-items" # Also show items not marked pub

alias pom="$HOME/Documents/github/pomodoro-cli/target/release/pomodoro || pomodoro"

alias latexrender="latexmk -pdf -interaction=nonstopmode -silent >/dev/null && latexmk -c >/dev/null"

if command -v python &>/dev/null; then
  alias pip="pip --require-virtualenv"
  alias pyvenv="python -m venv .venv --prompt ${PWD##*/} && source .venv/bin/activate"
  alias pyinstall="python -m pip install --upgrade pip && (pip install -r requirements.txt || pip install .)"
fi

if command -v uv &>/dev/null; then
  alias uvenv="uv venv --clear --no-managed-python && source ./.venv/bin/activate" # overrides existing venv
  alias uva="uv add"
  alias uvad="uv add --dev"
  alias uvs="uv sync -U --all-extras --all-groups --active --no-install-package uv"
  alias lock="uv lock"
  alias uvr="uv run"
  alias uvb="uv build"
  alias uvx="uvx --no-managed-python"
fi

alias supabase="$PWD/node_modules/supabase/bin/supabase"

alias ascii="ascii-image-converter"
