# ====================
# Environment Settings
# ====================

export EDITOR="nvim"
export PATH="$HOME/bin:/usr/local/bin:/usr/bin:/bin:$HOME/.local/bin"
export PATH=$PATH:$HOME/.spicetify
export SUDO_PROMPT="${(L)USER} password: "

# ====================
# Environment Settings
# ====================

export LS_COLORS="$(vivid generate purple)"
# export LS_COLORS="$(vivid generate tokyonight-storm)"

# Mozilla Firefox
export MOZ_DBUS_REMOTE=1
export MOZ_ENABLE_WAYLAND=1
export MOZ_GTK_TITLEBAR_DECORATION=client
export MOZ_DISABLE_SPLASH=1
