# ====================
# Environment Settings
# ====================

export EDITOR="nvim"
export SUDO_PROMPT="${(L)USER} password: "
export PAGER=${PAGER:-less}
export LESS='-R -i -w -M -z-4'

# ====================
# PATH Sourcing
# ====================

if [[ -f "$HOME/.paths" ]]; then
  while IFS= read -r dir; do
    dir=${(e)dir}
    [[ -d "$dir" ]] && PATH="$dir:$PATH"
  done < "$HOME/.paths"
fi
typeset -U PATH
export PATH

# ====================
# Other Environment Variables
# ====================  

export LS_COLORS="$(vivid generate purple)"
# export LS_COLORS="$(vivid generate tokyonight-storm)"

# Terminal colors
[[ -n "$TMUX" ]] && export TERM=tmux-256color || export TERM=xterm-256color
export CLICOLOR=1

# Mozilla Firefox
export MOZ_DBUS_REMOTE=1
export MOZ_ENABLE_WAYLAND=1
export MOZ_GTK_TITLEBAR_DECORATION=client
export MOZ_DISABLE_SPLASH=1

# FZF Settings
export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'
export FZF_DEFAULT_OPTS="
  --height=40%
  --layout=reverse
  --border
  --color=fg:#ffffff,bg:#000000,hl:#9C6ADE
  --color=fg+:#ffffff,bg+:#222222,hl+:#BF9DEA
  --color=info:#9C6ADE,prompt:#8548D5,pointer:#B38CE6,marker:#CAAFEE,spinner:#D0B7F0,header:#555555
"
export FZF_CTRL_R_OPTS="--preview 'echo {}' --preview-window=up:3"
export FZF_CTRL_T_OPTS="--preview 'bat --style=numbers --color=always --line-range :100 {}' --bind 'ctrl-/:toggle-preview'"
export FZF_ALT_C_OPTS="--preview 'tree -C {} | head -50'"