# Ignore Self if Github Repository is Unpacked
.gitignore
.git
.dotfiles
.config/*

# Whitelisted Configs
!.config/*.toml
!.config/*.md
!.config/neofetch/*
!.config/hypr/*
!.config/waybar/*
!.config/spotify-launcher.conf
!.confg/nvim/*
!.config/dunst

# Whitelist Bash Configs
!.zshrc

# Hide Backup Files
*.bak
