window {
    background-color: rgba(30, 30, 30, 0.6); /* Primary BG */
    border: 2px solid #DB9A2A;              /* Accent */
    border-radius: 8px;
    font-family: JetBrainsMono Nerd Font;
    font-size: 11pt;
    padding: 8px;
}

#input {
    padding: 6px 10px;
    margin: 6px 0;
    background-color: rgba(219, 154, 42, 0.15); /* Accent Light */
    color: #f2f2f2;
    border: none;
    border-radius: 6px;
}

#entry {
    padding: 10px;
    margin: 4px 0;
    color: #f2f2f2;
    border-radius: 6px;
    background-color: transparent;
}

#entry:selected {
    background-color: #DB9A2A; /* Accent */
    color: #000000;            /* Contrast */
    font-weight: bold;
}

#scroll {
    margin-top: 8px;
}
